*{
    font-family: Space Mono;
    font-weight: 700;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color:  hsl(185, 41%, 84%);
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: row;
    background-color: white;
    width:1000px;
    height:500px;
    border-radius: 20px;
}
.levo{
    margin:30px;
    background-color: white;
    float: left;
    width: 50%;
}
.desno{
    margin:30px;
    margin-left:15px;
    color:white;
    width: 50%;
    float: right;
    background-color: hsl(183, 100%, 15%);
    border-radius: 15px;
    padding: 10px;
    align-items: center;
    
}
input{
    width:80%;
    margin-left:30px;
    height: 7%;
    border: 0;
}
.tip{
    display: flex;
    flex-direction: row;
    padding:30px;
    width:100%;
}
p{
    font-size: 15px;
}
.reset{
    width:90%;
    margin:20px;
    height: 12%;
    margin-top: 80px;
    border-radius: 5px;
    border:0;
    font-size: large;
    background-color: hsl(172, 67%, 45%);
    color:hsl(183, 100%, 15%);
}
table{
    padding: 20px;
}
tr{
    width: 100vw;
}
td{

    width:50vw;
}
.nula,.nula1{
    text-align: right;
    font-size: 40px;
    color:hsl(172, 67%, 45%);
}
.tekst{
    font-size: 15px;
}
.aaaa{
    color: hsl(183, 100%, 15%);
}

input#dol{
    background-image: url('images/icon-dollar.svg');
    background-size:contain;
    background-repeat: no-repeat;
}
input#ljudi{
    background-image: url('images/icon-person.svg');
    background-size:contain;
    background-repeat: no-repeat;
    
}
input#dol:focus,input#ljudi:focus,.custom:focus{
    border:2px solid hsl(172, 67%, 45%);
    border-radius: 5px;
    outline: none;
}
button{ 
    height: 60px;
    width:140px;
    margin-bottom: 20px;
    font-size: x-large;
    background-color: hsl(183, 100%, 15%);
    border:0;
    border-radius: 5px;
    color:white;
}
button:hover{
    background-color:hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
    cursor:pointer;
}
.custom{
    height: 60px;
    width:140px;
    margin-left: 0;
    font-size: x-large;
    text-align: center;
}
.zero{
    color:red;
    text-align: right;
}
.dvakom{
    display: flex;
    flex-direction: row;
}
input:hover{
    cursor:pointer;
}
button.reset:hover{
    background-color:hsl(186, 14%, 43%);
}

@media (max-width:600px){
    body{
        padding:0;
        margin:0;
    }
    .container{
        width: 100%;
        flex-direction: column;
        min-height: 100vh;
    }
    .levo{
        width: 100%;
    }
    .desno{
        width:100%;
    }
}